## Time Sensitive Real Interview Questions-1
In this task below, you must answer these questions within 2 hours using data analysis skills (You can use any tool). Data file is provided via slack channel .

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#### 1. How many rows in the sales dataset?

In [2]:
df_sales = pd.read_csv("sales_082020.csv")
df_sales.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

In [6]:
df_sales.shape

(237671, 10)

In [7]:
df_sales.shape[0]

237671

In [8]:
#or 

len(df_sales)

237671

#### 2. How many columns in the sales dataset?

In [9]:
df_sales.shape[1]

10

#### 3. What is the total number of sellers?

In [22]:
df_sales["seller_id"].nunique()

114227

#### 4. What is the total value of sales in EUR?

In [27]:
df_sales.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

In [28]:
df_curr = pd.read_csv("currency_rates_082020_EUR.csv")
df_curr.head()

  currency      date  rate
0      EUR  8/1/2020   1.0
1      EUR  8/2/2020   1.0
2      EUR  8/3/2020   1.0
3      EUR  8/4/2020   1.0
4      EUR  8/5/2020   1.0

In [29]:
df_curr.sample(5)

    currency       date        rate
13       GBP   8/4/2020    0.902815
149      JPY  8/10/2020  124.410000
19       GBP  8/10/2020    0.897750
66       HKD   8/7/2020    9.134575
215      BRL   8/6/2020    6.332400

In [33]:
df_sales.date.dtype.type

numpy.object_

In [34]:
df_curr.date.dtype.type

numpy.object_

In [39]:
df_sales.date = pd.to_datetime(df_sales.date)

In [40]:
df_sales.head(3)

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07

In [41]:
df_sales.date.dtype.type

numpy.datetime64

In [42]:
df_curr.date = pd.to_datetime(df_curr.date)

In [43]:
df_curr.head(3)

  currency       date  rate
0      EUR 2020-08-01   1.0
1      EUR 2020-08-02   1.0
2      EUR 2020-08-03   1.0

In [44]:
df_curr.date.dtype.type

numpy.datetime64

In [46]:
df_common = df_sales.merge(df_curr, how="inner", on=["currency", "date"])

In [49]:
df_common.sample(5)

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate
137606,h6z1o3lje4,US,22q8cbdz,US,ppl7dnnjoapf,Dresses,NaN,USD,16.87,2020-08-06,1.18759
122680,lrerd54fs2,US,uzn7t5wl,US,s5nmxavsm2ob,Outerwear,UNIF,USD,136.91,2020-08-03,1.17625
84469,dcvyn0x6rf,GB,zjh18oh0,GB,3ed2agvrvc9j,Sports equipment,NaN,GBP,22.07,2020-08-05,0.90450
127095,k7hq64d9b7,US,ecrur3a6,US,38doj80ij3pz,Tops - Womens,NaN,USD,10.51,2020-08-03,1.17625
22046,u3ywf3fb38,GB,zmcny7ih,GB,6wavmsf4xwsh,Shoes,Adidas Originals,GBP,9.19,2020-08-03,0.89935

In [50]:
df_common["sales_in_EUR"] = df_common.price / df_common.rate
df_common.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,sales_in_EUR
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935,21.248680
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935,27.697782
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935,21.471062
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935,18.880302
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935,3.168955

In [51]:
df_common.sales_in_EUR.sum()

6471510.822498876

In [52]:
round(df_common.sales_in_EUR.sum())

6471511

#### 5. Which brand has the highest number of purchases during the period?

In [23]:
df_sales.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

In [26]:
df_sales.brand.value_counts().nlargest(1)

Nike    9575
Name: brand, dtype: int64

#### 6. How many items in the “Jewellery” category have no brand associated with them?

In [57]:
df_sales[(df_sales.category == "Jewellery") & (df_sales.brand.isnull())].product_code.nunique()

10931